In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"D:\MyStuff\Collection\Anne\WeeklyKPI\New folder\Yearly_monthend_data.csv")
print("The shape of the DataFrame is: t", df.shape)

The shape of the DataFrame is: t (10, 19)

In [3]:
# Let us check the data
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,apc_rc_connected,rccalled,bucket1contacted,bucketcallcontacted,bucket1normalized_greg,bucket1normalized_denominator,bucket2normalized_denominator,bucket2normalized_greg,ptp_received,kept_ptp,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,01-01-2023,31-01-2023,2078,2458,2342,4667,1098,3485,1974,3613,2225,244,1917,327,764647.87,126419.52,23,18940,6608
1,01-02-2023,28-02-2023,2034,2347,2806,7067,842,2539,1804,3640,2061,185,1747,286,653817.86,168324.40,22,21398,6716
2,01-03-2023,31-03-2023,2310,2867,3455,5856,1237,3934,2742,4024,1984,239,1685,505,1197285.16,200716.69,21,23445,6921
3,01-04-2023,30-04-2023,2487,3565,3829,6780,638,2705,2439,4061,2099,254,1774,369,969378.89,113452.10,20,24623,6327
4,01-05-2023,31-05-2023,3080,4618,4882,8702,718,3128,3027,4424,2217,359,1996,654,1758382.65,168261.05,20,22604,6550
5,01-06-2023,30-06-2023,2776,3939,5693,10356,491,3152,2783,4304,2385,403,1967,443,1054469.60,184900.23,20,25791,6478
6,01-07-2023,31-07-2023,3175,4540,6339,11740,537,3589,3212,4890,2669,498,2213,596,1573514.32,149953.60,20,25434,6904
7,01-08-2023,31-08-2023,4215,5407,7674,15097,572,4096,3683,5428,2993,575,2460,721,1767505.16,227259.71,20,26972,7364
8,01-09-2023,30-09-2023,3772,5280,7436,17810,617,4661,3757,5870,3290,642,2575,588,1371037.92,215522.64,27,29436,8203
9,01-10-2023,31-10-2023,3976,5667,11929,21855,1542,5592,3558,6306,3692,697,3020,832,1970487.79,319901.85,27,33079,9133

In [4]:
from google.cloud import bigquery
import os

path = r"C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json"

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = path
client = bigquery.Client(project="prj-prod-dataplatform")

In [5]:
sq = """select * from dap_ds_poweruser_playground.collection_Monthly_kpi_v5 order by 1 desc;"""

olddata = client.query(sq).to_dataframe(progress_bar_type='tqdm')
olddata

Job ID 3041d988-359d-47e7-8029-37fd4d079e7a successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,WkstartDate,WkendDate,apc_wc_connected,wccalled,WelcomeCall_ContactRate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,...,rollback_rate,rollback_rate_v,ptp_received,kept_ptp,kept_ptp_rate,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2023-12-01,2023-12-03,163,550,0.296364,791,4843,0.163329,256,2846,...,0.087902,0.085074,1420,74,0.052113,149290.82,12204.94,24,40842,10139
1,2023-11-01,2023-11-30,4363,6186,0.705302,13169,25577,0.514877,1699,6194,...,0.096745,0.113468,3297,900,0.272975,2103761.75,377652.02,24,35219,9895
2,2023-10-01,2023-10-31,4145,6309,0.656998,11929,21855,0.545825,1612,5830,...,0.097213,0.129787,3153,879,0.278782,2096974.85,339574.22,27,31828,9133
3,2023-09-01,2023-09-30,3705,5192,0.713598,7436,17810,0.417518,615,4639,...,0.096714,0.127083,2901,588,0.202689,1371037.92,215522.64,27,26464,8203
4,2023-08-01,2023-08-31,4024,5157,0.780299,7674,15097,0.508313,565,4054,...,0.094634,0.122890,2745,721,0.262659,1767505.16,227259.71,20,21499,7364
5,2023-07-01,2023-07-31,2896,4158,0.696489,6339,11740,0.539949,530,3537,...,0.084421,0.120462,2557,596,0.233086,1573514.32,149953.60,20,17259,6904
6,2023-06-01,2023-06-30,2407,3422,0.703390,5693,10356,0.549730,487,3095,...,0.081124,0.117039,2330,443,0.190129,1054469.60,184900.23,20,14391,6478
7,2023-05-01,2023-05-31,2421,3686,0.656810,4882,8702,0.561020,707,3063,...,0.084868,0.121648,2395,650,0.271399,1740887.66,168196.76,20,10809,6550
8,2023-04-01,2023-04-30,1665,2454,0.678484,3829,6780,0.564749,621,2625,...,0.080997,0.125361,2214,361,0.163053,945853.65,109412.47,20,8281,6327
9,2023-03-01,2023-03-31,1637,2212,0.740054,3455,5856,0.589993,1051,3782,...,0.078154,0.105233,2178,496,0.227732,1156555.42,198212.24,21,6311,6921
10,2023-02-01,2023-02-28,1146,1526,0.750983,2806,7067,0.397057,155,396,...,0.077866,0.102350,2074,276,0.133076,629177.89,153666.72,22,4963,6716
11,2023-01-01,2023-01-31,1597,2186,0.730558,2342,4667,0.501821,336,2179,...,0.069351,0.083759,2137,315,0.147403,721449.42,124917.32,23,3763,6608

In [6]:
sd = '2023-11-01'
ed = '2023-11-30'

In [7]:
sq = f"""select WkstartDate, WkendDate, apc_wc_connected, wccalled, apc_rc_connected, rccalled
, bucket1contacted, bucketcallcontacted,
Normalized_Greg bucket1normalized_greg, Normalized_denominator bucket1normalized_denominator
 ,Normalized_buck2_denominator bucket2normalized_denominator
, Normalized_buck2_Greg bucket2normalized_greg
, ptp_received, kept_ptp, bucket1ptppmt,
       bucket2ptppmt, FTE, total_accounts, active_works 
from dap_ds_poweruser_playground.collection_Monthly_kpi_v5 where WkstartDate = '{sd}';
"""
df3 = client.query(sq).to_dataframe(progress_bar_type='tqdm')
df3

Job ID f87ac94a-9305-4824-ae56-d1178a97572b successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,WkstartDate,WkendDate,apc_wc_connected,wccalled,apc_rc_connected,rccalled,bucket1contacted,bucketcallcontacted,bucket1normalized_greg,bucket1normalized_denominator,bucket2normalized_denominator,bucket2normalized_greg,ptp_received,kept_ptp,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,2023-11-01,2023-11-30,4363,6186,13169,25577,1699,6194,1165,2821,1872,246,3297,900,2103761.75,377652.02,24,35219,9895

In [8]:
def convert_date_format(date_str):
    input_date = pd.to_datetime(date_str, format='%Y-%m-%d')
    return input_date.strftime('%d-%m-%Y')

In [9]:
# Apply the conversion function to the 'date_column'
df3['WkstartDate'] = df3['WkstartDate'].apply(convert_date_format)
df3['WkendDate'] = df3['WkendDate'].apply(convert_date_format)

In [10]:
df3

,WkstartDate,WkendDate,apc_wc_connected,wccalled,apc_rc_connected,rccalled,bucket1contacted,bucketcallcontacted,bucket1normalized_greg,bucket1normalized_denominator,bucket2normalized_denominator,bucket2normalized_greg,ptp_received,kept_ptp,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,01-11-2023,30-11-2023,4363,6186,13169,25577,1699,6194,1165,2821,1872,246,3297,900,2103761.75,377652.02,24,35219,9895

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   WkstartDate                    10 non-null     object
 1   WkendDate                      10 non-null     object
 2   apc_wc_connected               10 non-null     int64
 3   wccalled                       10 non-null     int64
 4   apc_rc_connected               10 non-null     int64
 5   rccalled                       10 non-null     int64
 6   bucket1contacted               10 non-null     int64
 7   bucketcallcontacted            10 non-null     int64
 8   bucket1normalized_greg         10 non-null     int64
 9   bucket1normalized_denominator  10 non-null     int64
 10  bucket2normalized_denominator  10 non-null     int64
 11  bucket2normalized_greg         10 non-null     int64
 12  ptp_received                   10 non-null     int64
 13  kept_ptp                       10 non-null     int64
 14  bucket1ptppmt                  10 non-null     float64
 15  bucket2ptppmt                  10 non-null     float64
 16  FTE                            10 non-null     int64
 17  total_accounts                 10 non-null     int64
 18  active_works                   10 non-null     int64
dtypes: float64(2), int64(15), object(2)
memory usage: 1.6+ KB

In [12]:
df.columns

Index(['WkstartDate', 'WkendDate', 'apc_wc_connected', 'wccalled',
       'apc_rc_connected', 'rccalled', 'bucket1contacted',
       'bucketcallcontacted', 'bucket1normalized_greg',
       'bucket1normalized_denominator', 'bucket2normalized_denominator',
       'bucket2normalized_greg', 'ptp_received', 'kept_ptp', 'bucket1ptppmt',
       'bucket2ptppmt', 'FTE', 'total_accounts', 'active_works'],
      dtype='object')

In [13]:
df['apc_rc_connected'] = df['apc_rc_connected'].astype(np.int64)
df['rccalled'] = df['rccalled'].astype(np.int64)

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   WkstartDate                    1 non-null      object
 1   WkendDate                      1 non-null      object
 2   apc_wc_connected               1 non-null      Int64
 3   wccalled                       1 non-null      Int64
 4   apc_rc_connected               1 non-null      Int64
 5   rccalled                       1 non-null      Int64
 6   bucket1contacted               1 non-null      Int64
 7   bucketcallcontacted            1 non-null      Int64
 8   bucket1normalized_greg         1 non-null      Int64
 9   bucket1normalized_denominator  1 non-null      Int64
 10  bucket2normalized_denominator  1 non-null      Int64
 11  bucket2normalized_greg         1 non-null      Int64
 12  ptp_received                   1 non-null      Int64
 13  kept_ptp                       1 non-null      Int64
 14  bucket1ptppmt                  1 non-null      float64
 15  bucket2ptppmt                  1 non-null      float64
 16  FTE                            1 non-null      Int64
 17  total_accounts                 1 non-null      Int64
 18  active_works                   1 non-null      Int64
dtypes: Int64(15), float64(2), object(2)
memory usage: 295.0+ bytes

In [15]:
pd.set_option('display.max_columns', None)
df = df.append(df3)
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,apc_rc_connected,rccalled,bucket1contacted,bucketcallcontacted,bucket1normalized_greg,bucket1normalized_denominator,bucket2normalized_denominator,bucket2normalized_greg,ptp_received,kept_ptp,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,01-01-2023,31-01-2023,2078,2458,2342,4667,1098,3485,1974,3613,2225,244,1917,327,764647.87,126419.52,23,18940,6608
1,01-02-2023,28-02-2023,2034,2347,2806,7067,842,2539,1804,3640,2061,185,1747,286,653817.86,168324.40,22,21398,6716
2,01-03-2023,31-03-2023,2310,2867,3455,5856,1237,3934,2742,4024,1984,239,1685,505,1197285.16,200716.69,21,23445,6921
3,01-04-2023,30-04-2023,2487,3565,3829,6780,638,2705,2439,4061,2099,254,1774,369,969378.89,113452.10,20,24623,6327
4,01-05-2023,31-05-2023,3080,4618,4882,8702,718,3128,3027,4424,2217,359,1996,654,1758382.65,168261.05,20,22604,6550
5,01-06-2023,30-06-2023,2776,3939,5693,10356,491,3152,2783,4304,2385,403,1967,443,1054469.60,184900.23,20,25791,6478
6,01-07-2023,31-07-2023,3175,4540,6339,11740,537,3589,3212,4890,2669,498,2213,596,1573514.32,149953.60,20,25434,6904
7,01-08-2023,31-08-2023,4215,5407,7674,15097,572,4096,3683,5428,2993,575,2460,721,1767505.16,227259.71,20,26972,7364
8,01-09-2023,30-09-2023,3772,5280,7436,17810,617,4661,3757,5870,3290,642,2575,588,1371037.92,215522.64,27,29436,8203
9,01-10-2023,31-10-2023,3976,5667,11929,21855,1542,5592,3558,6306,3692,697,3020,832,1970487.79,319901.85,27,33079,9133
0,01-11-2023,30-11-2023,4363,6186,13169,25577,1699,6194,1165,2821,1872,246,3297,900,2103761.75,377652.02,24,35219,9895

Save the dataframe to a csv file

In [16]:
df.to_csv(r"D:\MyStuff\Collection\Anne\WeeklyKPI\New folder\Yearly_monthend_data_November2023.csv")

In [18]:
int_columns = df.select_dtypes(include=['int64']).columns
df[int_columns] = df[int_columns].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 0 to 0
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   WkstartDate                    11 non-null     object
 1   WkendDate                      11 non-null     object
 2   apc_wc_connected               11 non-null     int32
 3   wccalled                       11 non-null     int32
 4   apc_rc_connected               11 non-null     int32
 5   rccalled                       11 non-null     int32
 6   bucket1contacted               11 non-null     int32
 7   bucketcallcontacted            11 non-null     int32
 8   bucket1normalized_greg         11 non-null     int32
 9   bucket1normalized_denominator  11 non-null     int32
 10  bucket2normalized_denominator  11 non-null     int32
 11  bucket2normalized_greg         11 non-null     int32
 12  ptp_received                   11 non-null     int32
 13  kept_ptp                       11 non-null     int32
 14  bucket1ptppmt                  11 non-null     float64
 15  bucket2ptppmt                  11 non-null     float64
 16  FTE                            11 non-null     int32
 17  total_accounts                 11 non-null     int32
 18  active_works                   11 non-null     int32
dtypes: float64(2), int32(15), object(2)
memory usage: 1.1+ KB

In [20]:
# Convert DataFrame to pivot table with a calculated field

pivot_df = df.pivot_table( index=['WkstartDate', 'WkendDate'],values=['apc_wc_connected', 'wccalled','apc_rc_connected', 'rccalled', 'bucket1contacted', 'bucketcallcontacted'
                                                                      , 'bucket1normalized_greg', 'bucket1normalized_denominator'
                                                                      , 'bucket2normalized_greg', 'bucket2normalized_denominator'
                                                                      , 'kept_ptp', 'ptp_received'
                                                                      , 'bucket1ptppmt', 'bucket2ptppmt'
                                                                                                                                            ],
                          aggfunc={'apc_wc_connected': 'sum', 'wccalled': 'sum', 'apc_rc_connected':'sum','rccalled':'sum','bucket1contacted': 'sum', 'bucketcallcontacted':'sum'
                                   , 'bucket1normalized_greg':'sum', 'bucket1normalized_denominator':'sum'
                                   , 'bucket2normalized_greg':'sum', 'bucket2normalized_denominator':'sum'
                                   , 'kept_ptp':'sum', 'ptp_received':'sum'
                                   , 'bucket1ptppmt':'sum', 'bucket2ptppmt':'sum'
                                   
                                   },
                          margins=True, margins_name='Total', fill_value=0)

pivot_df

,,apc_rc_connected,apc_wc_connected,bucket1contacted,bucket1normalized_denominator,bucket1normalized_greg,bucket1ptppmt,bucket2normalized_denominator,bucket2normalized_greg,bucket2ptppmt,bucketcallcontacted,kept_ptp,ptp_received,rccalled,wccalled
WkstartDate,WkendDate,,,,,,,,,,,,,,
01-01-2023,31-01-2023,2342,2078,1098,3613,1974,764647.87,2225,244,126419.52,3485,327,1917,4667,2458
01-02-2023,28-02-2023,2806,2034,842,3640,1804,653817.86,2061,185,168324.40,2539,286,1747,7067,2347
01-03-2023,31-03-2023,3455,2310,1237,4024,2742,1197285.16,1984,239,200716.69,3934,505,1685,5856,2867
01-04-2023,30-04-2023,3829,2487,638,4061,2439,969378.89,2099,254,113452.10,2705,369,1774,6780,3565
01-05-2023,31-05-2023,4882,3080,718,4424,3027,1758382.65,2217,359,168261.05,3128,654,1996,8702,4618
01-06-2023,30-06-2023,5693,2776,491,4304,2783,1054469.60,2385,403,184900.23,3152,443,1967,10356,3939
01-07-2023,31-07-2023,6339,3175,537,4890,3212,1573514.32,2669,498,149953.60,3589,596,2213,11740,4540
01-08-2023,31-08-2023,7674,4215,572,5428,3683,1767505.16,2993,575,227259.71,4096,721,2460,15097,5407
01-09-2023,30-09-2023,7436,3772,617,5870,3757,1371037.92,3290,642,215522.64,4661,588,2575,17810,5280
01-10-2023,31-10-2023,11929,3976,1542,6306,3558,1970487.79,3692,697,319901.85,5592,832,3020,21855,5667
01-11-2023,30-11-2023,13169,4363,1699,2821,1165,2103761.75,1872,246,377652.02,6194,900,3297,25577,6186
Total,,69554,34266,9991,49381,30144,15184288.97,27487,4342,2252363.81,43075,6221,24651,135507,46874

In [21]:
grand_total = pivot_df.loc[('Total',), :]

In [22]:
df2 = pd.DataFrame(grand_total)
df2

,apc_rc_connected,apc_wc_connected,bucket1contacted,bucket1normalized_denominator,bucket1normalized_greg,bucket1ptppmt,bucket2normalized_denominator,bucket2normalized_greg,bucket2ptppmt,bucketcallcontacted,kept_ptp,ptp_received,rccalled,wccalled
WkendDate,,,,,,,,,,,,,,
,69554,34266,9991,49381,30144,15184288.97,27487,4342,2252363.81,43075,6221,24651,135507,46874

In [23]:
df

,WkstartDate,WkendDate,apc_wc_connected,wccalled,apc_rc_connected,rccalled,bucket1contacted,bucketcallcontacted,bucket1normalized_greg,bucket1normalized_denominator,bucket2normalized_denominator,bucket2normalized_greg,ptp_received,kept_ptp,bucket1ptppmt,bucket2ptppmt,FTE,total_accounts,active_works
0,01-01-2023,31-01-2023,2078,2458,2342,4667,1098,3485,1974,3613,2225,244,1917,327,764647.87,126419.52,23,18940,6608
1,01-02-2023,28-02-2023,2034,2347,2806,7067,842,2539,1804,3640,2061,185,1747,286,653817.86,168324.40,22,21398,6716
2,01-03-2023,31-03-2023,2310,2867,3455,5856,1237,3934,2742,4024,1984,239,1685,505,1197285.16,200716.69,21,23445,6921
3,01-04-2023,30-04-2023,2487,3565,3829,6780,638,2705,2439,4061,2099,254,1774,369,969378.89,113452.10,20,24623,6327
4,01-05-2023,31-05-2023,3080,4618,4882,8702,718,3128,3027,4424,2217,359,1996,654,1758382.65,168261.05,20,22604,6550
5,01-06-2023,30-06-2023,2776,3939,5693,10356,491,3152,2783,4304,2385,403,1967,443,1054469.60,184900.23,20,25791,6478
6,01-07-2023,31-07-2023,3175,4540,6339,11740,537,3589,3212,4890,2669,498,2213,596,1573514.32,149953.60,20,25434,6904
7,01-08-2023,31-08-2023,4215,5407,7674,15097,572,4096,3683,5428,2993,575,2460,721,1767505.16,227259.71,20,26972,7364
8,01-09-2023,30-09-2023,3772,5280,7436,17810,617,4661,3757,5870,3290,642,2575,588,1371037.92,215522.64,27,29436,8203
9,01-10-2023,31-10-2023,3976,5667,11929,21855,1542,5592,3558,6306,3692,697,3020,832,1970487.79,319901.85,27,33079,9133
0,01-11-2023,30-11-2023,4363,6186,13169,25577,1699,6194,1165,2821,1872,246,3297,900,2103761.75,377652.02,24,35219,9895

In [24]:
df.FTE.iloc[-1]

24

In [25]:
df2['Welcomecallcallrate'] = (df2['apc_wc_connected']/df2['wccalled'])*100
df2['remindercallcontactrate'] = (df2['apc_rc_connected']/df2['rccalled'])*100
df2['bucket1callcontactrate'] = (df2['bucket1contacted']/df2['bucketcallcontacted'])*100
df2['bucket1normalized'] = (df2['bucket1normalized_greg']/df2['bucket1normalized_denominator'])*100
df2['bucket2normalized'] = (df2['bucket2normalized_greg']/df2['bucket2normalized_denominator'])*100
df2['kept_ptp_percentage'] = (df2['kept_ptp']/df2['ptp_received'])*100
df2['totalptpmoneycollected'] = (df2['bucket1ptppmt'] + df2['bucket2ptppmt'])
df2['FTE'] = df.FTE.iloc[-1]
df2['Total_Accounts'] = df.total_accounts.iloc[-1]
df2['active_works'] = df.active_works.iloc[-1]
df2['Account_FTE'] = df['total_accounts'].iloc[-1]/df['FTE'].iloc[-1]
df2['accountsonactiveworksperfte'] = df['active_works'].iloc[-1]/df['FTE'].iloc[-1]

In [26]:
df2 = df2.reset_index()

In [27]:
df2

,WkendDate,apc_rc_connected,apc_wc_connected,bucket1contacted,bucket1normalized_denominator,bucket1normalized_greg,bucket1ptppmt,bucket2normalized_denominator,bucket2normalized_greg,bucket2ptppmt,bucketcallcontacted,kept_ptp,ptp_received,rccalled,wccalled,Welcomecallcallrate,remindercallcontactrate,bucket1callcontactrate,bucket1normalized,bucket2normalized,kept_ptp_percentage,totalptpmoneycollected,FTE,Total_Accounts,active_works,Account_FTE,accountsonactiveworksperfte
0,,69554,34266,9991,49381,30144,15184288.97,27487,4342,2252363.81,43075,6221,24651,135507,46874,73.10236,51.328714,23.194428,61.043721,15.796558,25.236299,17436652.78,24,35219,9895,1467.458333,412.291667

In [28]:
df2.drop(columns = ['WkendDate'], inplace = True)

In [29]:
df2['StartDate'] = '01-01-2023'
df2['EndDate'] = '30-11-2023'

In [30]:
df2.columns

Index(['apc_rc_connected', 'apc_wc_connected', 'bucket1contacted',
       'bucket1normalized_denominator', 'bucket1normalized_greg',
       'bucket1ptppmt', 'bucket2normalized_denominator',
       'bucket2normalized_greg', 'bucket2ptppmt', 'bucketcallcontacted',
       'kept_ptp', 'ptp_received', 'rccalled', 'wccalled',
       'Welcomecallcallrate', 'remindercallcontactrate',
       'bucket1callcontactrate', 'bucket1normalized', 'bucket2normalized',
       'kept_ptp_percentage', 'totalptpmoneycollected', 'FTE',
       'Total_Accounts', 'active_works', 'Account_FTE',
       'accountsonactiveworksperfte', 'StartDate', 'EndDate'],
      dtype='object')

In [31]:
df3 = df2[['StartDate', 'EndDate', 'apc_wc_connected', 'wccalled', 'Welcomecallcallrate', 'apc_rc_connected', 'rccalled', 'remindercallcontactrate', 'bucket1contacted', 'bucketcallcontacted', 'bucket1callcontactrate', 
           'bucket1normalized_greg', 'bucket1normalized_denominator','bucket1normalized', 'bucket2normalized_greg', 'bucket2normalized_denominator'
           , 'bucket2normalized', 'kept_ptp', 'ptp_received', 'kept_ptp_percentage', 'bucket1ptppmt', 'bucket2ptppmt','totalptpmoneycollected'
           ,  'FTE', 'Total_Accounts', 'active_works',  'Account_FTE', 'accountsonactiveworksperfte'
           ]].copy()

In [32]:
df3

,StartDate,EndDate,apc_wc_connected,wccalled,Welcomecallcallrate,apc_rc_connected,rccalled,remindercallcontactrate,bucket1contacted,bucketcallcontacted,bucket1callcontactrate,bucket1normalized_greg,bucket1normalized_denominator,bucket1normalized,bucket2normalized_greg,bucket2normalized_denominator,bucket2normalized,kept_ptp,ptp_received,kept_ptp_percentage,bucket1ptppmt,bucket2ptppmt,totalptpmoneycollected,FTE,Total_Accounts,active_works,Account_FTE,accountsonactiveworksperfte
0,01-01-2023,30-11-2023,34266,46874,73.10236,69554,135507,51.328714,9991,43075,23.194428,30144,49381,61.043721,4342,27487,15.796558,6221,24651,25.236299,15184288.97,2252363.81,17436652.78,24,35219,9895,1467.458333,412.291667

In [33]:
df3.to_excel("KPI_Till_November30th.xlsx", sheet_name="Jan12023 to Nov302023 Data", index = False)